#contador{
    margin: 0 auto;
    text-align:  center;

    
}

#texto{
    margin: 10px auto;
    text-align: center;
    width: 200px;
    height: 40px;
    font-size:25px ;
}
#cass{
    margin: 0 auto;
    text-align:  center;
    width: 200px;
    height: 130px;
    border: 2px solid blue;
    font-size: 100px;


}